# Framework do backend
fastapi[standard]

# SQLAlchemy para conexão com o banco de dados
SQLAlchemy
psycopg2-binary  # Driver para PostgreSQL, troque se usar outro banco (ex: mysql-connector-python)
pydantic-settings # Para gerenciar variáveis de ambiente

# Requirements do Agente Ollama
markdownify
ddgs==9.6.1
playwright==1.55.0 # playwright install chromium
litellm==1.68.0
ollama
pdfplumber

# Requirements do Banco de Dados Vetorial
chromadb==1.1.1